version: 2.1

executors:
  node:
    docker:
      - image: circleci/node:14
  java:
    docker:
      - image: circleci/openjdk:17-jdk-buster
  net:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.1
  rust:
    docker:
      - image: circleci/rust:1.55.0

jobs:
  test-ts:
    executor: node
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-node-dependencies-{{ checksum "yarn.lock" }}
          - v1-node-dependencies-
      - run: yarn
      - save_cache:
          paths:
            - node_modules
          key: v1-node-dependencies-{{ checksum "yarn.lock" }}
      - run:
          name: Run tests
          command: yarn test

  test-cpp:
    executor: node
    steps:
      - checkout
      - run:
          name: Install Debian dependencies
          command: |
            sudo apt-get update
            sudo apt-get install clang
      - run: ./script/getcppdeps.sh
      - run:
          name: Run tests
          command: |
            clang++ -std=c++14 -Wall -Wfloat-conversion -Wmissing-declarations -fsanitize=float-divide-by-zero -g -o ./testcpp -Isrc/cpp/include src/cpp/packedrtree.cpp src/cpp/test/run_tests.cpp
            ./testcpp -d yes

  test-java:
    executor: java
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-java-dependencies-{{ checksum "src/java/pom.xml" }}
            - v1-java-dependencies-
      - run: cd src/java && mvn dependency:go-offline
      - save_cache:
          paths:
            - ~/.m2
          key: v1-java-dependencies-{{ checksum "src/java/pom.xml" }}
      - run: cd src/java && mvn test

  test-net:
    executor: net
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-net-dependencies-{{ checksum "src/net/FlatGeobuf/FlatGeobuf.csproj" }}
            - v1-net-dependencies-
      - run: cd src/net && ./fetch.sh && dotnet test
      - save_cache:
          paths:
            - ~/.nuget/packages
          key: v1-net-dependencies-{{ checksum "src/net/FlatGeobuf/FlatGeobuf.csproj" }}

  test-rust:
    executor: rust
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-rust-dependencies-{{ checksum "src/rust/Cargo.toml" }}
            - v1-rust-dependencies-
      - run: cd src/rust && cargo test
      - save_cache:
          paths:
            - ~/.cargo
            - src/rust/target
          key: v1-rust-dependencies-{{ checksum "src/rust/Cargo.toml" }}

workflows:
  main:
    jobs:
      - test-ts
      - test-cpp
      - test-java
      - test-net
      - test-rust
